name: Fly Deploy
on:
  workflow_call:

permissions:
  contents: read

jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    concurrency: deploy-group    # optional: ensure only one action runs at a time
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          # https://woodruffw.github.io/zizmor/audits/#artipacked
          persist-credentials: false

      - name: Set Node.js lts/*
        uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e
        with:
          node-version: lts/*

      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: Build wasm
        run:
          wasm-pack build --target web --out-name lora-inspector
          --release --weak-refs crates/lora-inspector-wasm

      - name: Build wasm SIMD
        run:
          RUSTFLAGS="-C target-feature=+simd128" wasm-pack build --target web
          --out-name lora-inspector-simd --release --weak-refs crates/lora-inspector-wasm

      - name: Corepack
        run: corepack enable

      - name: Run install
        run: yarn --cwd crates/lora-inspector-wasm

      - name: Run build
        run: yarn --cwd crates/lora-inspector-wasm build

      - uses: superfly/flyctl-actions/setup-flyctl@63da3ecc5e2793b98a3f2519b3d75d4f4c11cec2
        with:
          version: v0.4.6
      - run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
